.table-striped>tbody>tr:nth-child(odd)>td
{
    background-color: white;
}
.table-striped>tbody>tr:nth-child(even)>td
{
    background-color: lightblue;
}

.button-t{
    background-color: darkblue;
    color: white;
}

.react-bs-table  .table td{
    border-top: 0px solid white;

}